body{
    background-color: #8fb393;
}



#tituloCalculadora1 {
    color: #5CB767;
    text-align: center;
    margin: 0;

}

#tituloCalculadora2 {
    color: #FA8939;
    text-align: center;
    margin: 0;

}

#imgLogo1{
    width: 300px;
    height: 180px;
}

#imgLogo2{
    width: 100px;
    height: 60px;
}

.subtext{
    font-weight: bold;

}

#caixaGeral{
    display: flex;
    flex-direction: row;
}

#caixaPrincipal{
    border: 3px solid #28632f;
    border-radius: 10%;
    background-color: #F8F5F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 30px;
    
}

#caixaSecundaria{
    border: 3px solid #28632f;
    border-radius: 10%;
    background-color: #F8F5F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 0 30px;
}

#caixaGalinha:hover{
    background-color: #fddfab;
}

#caixaGalinha{
    background-color: #F8F5F0;
    display: flex;
    justify-content: center;
    width: 250px;
    margin: auto;
    padding: 100px;
    border: 3px solid #28632f;
    border-radius: 100%;
}

img{
    width: 200px;
}

#caixaBotao{
    margin-top: 20px;
}
#botao{
    font-weight: bold;
    width: 120px;
    height: 60px;
}

#textoExibido{
    font-size: 18px;
}



